html, body {
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 100%;
    font: inherit;
}

body {
    font-family: verdana, arial, helvetica, sans-serif;
}

.nav {
    text-align: center;
    background-color: #FFD700;
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid #e7e7e7;
}

.nav li {
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 40px;
    display: inline;
}

.nav a {
    text-decoration: none;
    color: black;
}

.main {
    width: 900px;
    height: 900px;
    margin: 0 auto 0 auto;
}

.footer {
    background-color: #FFD700;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.footer img {
    width: 50px;
}

.footer li {
    display: inline;
}

.cv img {
    float: left;
    width: 60px;
    height: 60px;
    padding-right: 10px;
}

.cv ul {
    padding-left: 0;
}

.cv li {
    display: block;
    text-align: justify;
    border-bottom: 1px solid #FFD700;
}

.me {
    text-align: justify;
}

.me img {
    float: left;
    padding-right: 10px;
}

.courses img {
    float: left;
    width: 170px;
    height: 210px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.courses li {
    display: block;
    width: 900px;
    height: 210px;
}

.courses p {
    text-align: justify;
    margin-top: 1px;
}

.form label,input {
    display: block;
    width: 600px;
    margin-top: 5px;
    font-size: 20px;
}

.form input {
    border: 1px solid #FFD700;
}

.form input[type="button"] {
    height: 40px;
    font-size: 20px;
}

.form textarea {
    width: 600px;
    height: 400px;
    border: 1px solid #FFD700;
    margin-top: 5px;
}

.form {
    margin-top: 100px;
    margin-left: 250px;
}

.form p {
    font: 20px;
}

.calendar tr,td{
    border: 1px solid #aaaaaa;
}

.calendar {
    margin-top: 100px;
}

.calendar thead {
    background-color: #000000;
    color: #ffffff;
}

.lecture {
    background-color: #ffffaa;
}

.nolecture {
    background-color: #aaaaaa;
}

.hideme {
    display: block;
    color: #ffffaa;
}